.choose-uploader{
  .removeable,
  .choose-item{
    margin-left: 10px;
    margin-bottom:10px;
    width:80px;
  }

  .uploader{
    width:80px;
    height:80px;
    line-height:80px;
    border:1px solid #eee;
    text-align:center;
    color:#999;
  }
}
